.back {
    background: black;
    padding: 50px;
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap; /* Ensures wrapping for small screens */
  }
  
  .name {
    margin-top: 15%;
    margin-left: 5%;
  }
  
  .hi,
  .mern {
    font-size: 40px;
    font-weight: 500;
  }
  
  .aparna span {
    background-image: linear-gradient(to right, #EE82EE, #9400D3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .aparna {
    font-size: 90px;
  }
  
  /* Buttons container */
  .buttons {
    margin-top: 20px;
    display: flex;
    gap: 80px;
    flex-wrap: wrap; /* Enables wrapping for smaller screens */
  }
  
  /* Buttons styling */
  .btn {
    padding: 15px 40px ;
    margin-top: 7%;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 25px; /* Increased border radius */
    cursor: pointer;
    text-align: center;
    transition: transform 0.2s ease, background-color 0.3s ease;
    background: transparent;
    background-image: linear-gradient(to right, #EE82EE, #9400D3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 2px solid #9400D3;
  }

  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .name {
      margin-top: 10%;
      margin-left: 3%;
    }
  
    .hi,
    .mern {
      font-size: 30px;
    }
  
    .aparna {
      font-size: 70px;
    }
  
  
  }
  
  .image-content {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .image-content img {
    margin-left: 20%;
    margin-top: 20%;
    border-radius:0%;
    width: 450px;
    height: 550px;
    object-fit: cover;
  }
  .btn:hover{
    transform: translateY(-5px)
  }
 

.aparna {
  position: relative;
  opacity: 0;
}

.aparna.slide-in {
  animation: slideIn 2s forwards;
}

@keyframes slideIn {
  from {
    left: -100%;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}



  